spring:
  application:
    name: base-backend

  profiles:
    active: dev

  jpa:
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    validate-on-migrate: true
    clean-disabled: true