server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME}
      ?useSSL=false
      &allowPublicKeyRetrieval=true
      &serverTimezone=UTC
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  flyway:
    baseline-on-migrate: true
    baseline-version: 1

# activación de perfiles por línea de comandos
# java -jar app.jar --spring.profiles.active=dev