version: "3.9"

services:

  mysql:
    image: mysql:8.4
    container_name: base-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: base_backend
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
   # command: --default-authentication-plugin=mysql_native_password

  app:
    build:
      context: ../base-main
    container_name: base-backend
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: dev
      DB_HOST: mysql
      DB_PORT: 3306
      DB_NAME: base_backend
      DB_USER: root
      DB_PASS: root
    ports:
      - "8082:8082"
volumes:
  mysql_data:
